# Chap 19 Lists: popping elements

In [1]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
latest_task_accomplished = tasks.pop(1)

In [2]:
latest_task_accomplished

'call Sarah'

In [3]:
tasks

['email Frank', 'meet with Zach']

In [5]:
tasks.clear()
tasks

[]

In [9]:
my_list = ['pen' , 'pencil' , 'cell phone' , 'axiom team' , 'panacloud' ]
purchase_list = []
for item in my_list:
    purchase_item = my_list.pop()
    purchase_list.append(purchase_item)

print(purchase_list)
print(my_list)
my_list.sort()

my_list

['panacloud', 'axiom team', 'cell phone']
['pen', 'pencil']

['pen', 'pencil']

In [14]:
numbers = [1, 2, 9, 4, 3, 6, 'a', 'b']
numbers.sort()
numbers

TypeError: '<' not supported between instances of 'str' and 'int'

In [13]:
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 2, 3, 4, 6, 9]

In [ ]:
my_list = ['pen' , 'pencil' , 'cell phone' , 'pen' ]
print(my_list)
# task = ['call sarah' , 'meet amir']
# task.insert(1 , my_list.pop())
# print(task)


# my_list.sort(reverse = True)
# print(my_list)
# my_list.reverse()
# print(my_list)
x = sorted(my_list)

In [ ]:
new1_list = [1, 2, 3, 2, 35, 6]
new2_list = new1_list

In [ ]:
new2_list = new1_list.copy()
new3_list = new1_list[:]

In [15]:
fruits = [3, 'orange', 'apple', 6, 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 6, 'apple', 'orange', 3]

In [ ]:
new_list = ['s' , 'w' , 'a', 'v' , 'b' , 'c']
sort_list = sorted(new_list)
print(sort_list)
print(new_list)

In [ ]:
my_new_list = new_list
print(my_new_list)
new_list.append('z')
print(my_new_list)

In [ ]:
your_list = new_list[:]
print(your_list)
new_list.append('p')
print(your_list)
print(new_list)

In [22]:
t = ([12345, 54321, 'hello!'],(1, 3, 4))

t[0][1] = 3
t

([12345, 3, 'hello!'], (1, 3, 4))

In [23]:
a = (2, 3, 5, 6)
a

(2, 3, 5, 6)

In [28]:
w , x , y, = a
print(w)
print(x)
print(y)

ValueError: too many values to unpack (expected 3)

In [ ]:
copy_new_list = new_list.copy()
print(copy_new_list)
new_list.append('i')
print(copy_new_list)
print(new_list)

In [16]:
square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
x = [[1,2,3], [4,5,6] , [7,8,9]]
print(x)
print(x[0])
y = [('x' ,'y') , (1,5) , (6,8)]
print(y)
print(y[0])
z = [{'name' : 'john'},{'name' : 'ada'}]
print(z)
print(z[0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[('x', 'y'), (1, 5), (6, 8)]
('x', 'y')
[{'name': 'john'}, {'name': 'ada'}]
{'name': 'john'}

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

In [ ]:
num = [2,4,5,6,9] * 2
print(num)

# Chap 20 Tuples

In [ ]:
states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")

In [ ]:
second_state_founded = states_in_order_of_founding[1]
second_state_founded

In [ ]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

In [ ]:
dimensions = (250 , 50)
print(dimensions)

In [ ]:
x = (1, 2, 3)
a , b , c  = x
print(a)

In [2]:
[print(str(i) + " * " + str(j) + " = " + str(i*j)) for i in range(2,11) for j in range(1,11)]

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

#  Chap 21 For loop

In [1]:
city_to_check = "Tucson"
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")

It's one of the cleanest cities

In [2]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In [5]:
 if 4 in [1,2,3,4]:
        print('find the number')

find the number

In [6]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<h2>Simple Statistics with a List of Numbers</h2>

In [7]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)
max(digits)
sum(digits)

45

# Chap 22 for loop nested

In [8]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

# Chap 23 Getting information from the user and converting strings and numbers

In [ ]:
city_to_check = input('Enter your city')
if city_to_check == 'karachi':
    print('\n' + city_to_check)

In [ ]:
income = int(input('Enter your income'))
if income == 1000:
    print('this is too low')

# Chap 24 Changing case

In [ ]:
cleanest_cities = ["Cheyenne", "cheyenne", "Santa Fe", "santa fe", "Tucson", "tucson", "Great Falls", "great falls", "Honolulu", "honolulu"]
city_to_check = input('Enter your City')
city_to_check = city_to_check.lower()
for city in cleanest_cities:
    if city.lower() == city_to_check:
        print('Its one of the cleanest cities')
        break

# Chap 25 Dictionaries: What they are

# Chap 26 Dictionaries: How to code one

In [7]:
person = {'first_name' : 'Imran' , 'last_name' : 'Khan' , 'age' : 60 }
print(person['last_name'])

Khan

In [18]:
things_to_remember = {'first' : 'Nsir' ,"a dozen": "the lowest number", "a dozen": 12, "snake eyes": "a pair of ones",13: "a baker's dozen"}
for  (k , v) in things_to_remember.items():
    print(k)
    print(v)

first
Nsir
a dozen
12
snake eyes
a pair of ones
13
a baker's dozen

In [27]:
person = {'name' : 'david' , 'age' : 52 }
print(person)
person['name'] = 'Ada'
print(person)
person['city'] = "USA"
del person['age']
print(person)
person['adress'] = 'abc'

{'name': 'david', 'age': 52}
{'name': 'Ada', 'age': 52}
{'name': 'Ada', 'city': 'USA'}

{'name': 'Ada', 'city': 'USA', 'adress': 'abc'}

In [30]:
x = {'name' : 'david' , "age" : 9}
y = list(x)
print(y)
y[1]

['name', 'age']

'age'

In [31]:
{x:x**2 for x in (2,3,4,5,6)}

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [34]:
dict([(2,{2:3,4:5}),(4,[4,5,6,7]),(6,[7,8,9,0])])

{2: {2: 3, 4: 5}, 4: [4, 5, 6, 7], 6: [7, 8, 9, 0]}

In [37]:
aTupple=(2,3,4,5,["nasir","hussain"])
aTupple[4][0] = "Maaz"
aTupple

(2, 3, 4, 5, ['Maaz', 'hussain'])

In [38]:
for i , v in enumerate(['h' , 'i' ,'k' , 'l']):
    print(i , v)

0 h
1 i
2 k
3 l