## Class: 4

In [129]:
my_list = [1,'soman']
type(my_list[0])

int

In [130]:
# Tocheck wheather element exist in lis or not
'soman' in my_list

True

In [131]:
# to get index if element exist. this will return first occurence or element
my_list.index(1)

0

In [132]:
if('soman' in my_list):
    print(my_list.index('soman'))

1

In [133]:
# to generate list of 1 to 100 numbers . REMEMBER upper boundry in exclusive
list_of_100_num = list(range(0,101,2))    # third parameter is called step
print(list_of_100_num)

list_of_100_num = list(range(2,21,2))
list_of_100_num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [134]:
# insert element in list
my_list.append('baqai')
my_list.insert(1,'muhammad')
my_list

[1, 'muhammad', 'soman', 'baqai']

In [135]:
# To Concatenate list
lis = ['hi']
my_list = lis + ['this','is','concatenate']
my_list

['hi', 'this', 'is', 'concatenate']

In [136]:
# TO MAKE COPY (PASS BY VALUE)
listA = [1,2,3,4,5,4]
listB = listA[1:3]
listB

listB = listA[-1:-3:-1]
listB

[4, 5]

## To Remove Element From the List

In [137]:
del listA[0]
listA

[2, 3, 4, 5, 4]

In [138]:
listA.remove(4)
listA

[2, 3, 5, 4]

In [139]:
ele = listA.pop(1)
ele
listA

[2, 5, 4]

## Excercise

In [30]:
friends_list = ['amin','saad','hasan','muteeb','amir','zaid','ali','akbar','hammad']
close_friends_list = ['amin','hasan']

for friend in friends_list:
    if(not(friend in close_friends_list)):
        friends_list.remove(friend)
print(friends_list)

['amin', 'hasan', 'amir', 'ali', 'hammad']